<div class="loginBox">
    <div class="alertBox" [style.display]="alertdisplay">{{alertStr}}</div>
    <div class="l_header">
        <a routerLink="/meilislogin">
            <i class="icon iconfont icon-htmal5icon37"></i>
        </a> 
        <span>
            免密登录
        </span>
    </div>

    <div class="l_container">
        
        <div class="l_phone">
            <p>{{p1}}</p>
            <input type="text" placeholder="输入手机号码" [(ngModel)]="username" (keyup)="onKeyUpPhone($event)" (focus)="onFocusPhone($event)" (blur)="onBlurPhone($event)" ref-abc/>
        </div>
        <div class="l_yzm">
            <p>验证码</p>
            <input type="text" placeholder="输入验证码" [(ngModel)]="judgeYzm2" (focus)="judgeFocus()"/>
            <div class="yzmBtn">
                <span [style.display]="timesp2" class="timesp2">{{time}}</span>
                <span [style.display]="timesp1" class="fsyzm" (click)="authCode($event)">{{times}}</span>
            </div>
        </div>

        <div class="rotalImg" [style.display]="rotalImgdisplay" >
            <div class="rotalImg_top">
                <span>请点击图片旋转至正面朝上</span>
                <a href="javascript:;" (click)="getArrayArr(imgArr)">换一组</a>
            </div>
            <div class="img-ico">
                <ul class="img-list">
                    <li class="lii" (click)="rotateLi($event)" #listy></li>
                    <li class="lii" (click)="rotateLi($event)" #listy></li>
                    <li class="lii" (click)="rotateLi($event)" #listy></li>
                    <li class="lii" (click)="rotateLi($event)" #listy></li>
                </ul>
            </div>
        </div>

        <div class="r_oneKey" (click)="clickRegister($event,abc.value)" >
            登录
        </div>
    </div>
</div>
