<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_620104_8yu8dsds6d9xjemi.css" />
<div class="userSetting">

    <div class="title" >
        <div class="goback"  (click)="goback()">
            <i class="iconfont icon-arrow-left"></i>
        </div>
        账号与安全
    </div>
    <div class="username">
        <h3><span style="color:#FFA3C2">欢迎你：&nbsp;</span>{{username}}</h3>
        <p>最后一次访问时间：2018-04-09 16:39:88</p>
    </div>
    <div class="river">
        账号及信息完整
    </div>
    <ul class="userInfo">
        <li>
            <a href="javascript:void(0)" routerLink="/changepwd">
                <span>登录密码</span>
               
                <i class="iconfont icon-youjiantou1"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <span>绑定手机</span>
               
                <i class="iconfont icon-youjiantou1"></i>
            </a>
        </li>
          <li>
            <a href="javascript:void(0)">
                <span>登录设备</span>
               
                <i class="iconfont icon-youjiantou1"></i>
            </a>
        </li>
          <li>
            <a href="javascript:void(0)">
                <span>安全贴士</span>
               
                <i class="iconfont icon-youjiantou1"></i>
            </a>
        </li>
    </ul>
</div>