<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_620104_8yu8dsds6d9xjemi.css" />

<div class="helpCenter">

    <div class="title" >
        <div class="goback"  (click)="goback()">
            <i class="iconfont icon-arrow-left"></i>
        </div>
        帮助中心
    </div>

    <ul class="userInfo">
        <li>
            <a href="javascript:void(0)" >
                <span>【公告】白富美系统已下线</span>
                <i class="hot hot1"><img src="http://localhost:4200/assets/img/hot.png"  alt="" /></i>
                <i class="iconfont icon-youjiantou1"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" >
                <span>【公告】2018年五一期间发货时间调整</span>
                <i class="hot hot2"><img src="http://localhost:4200/assets/img/hot.png"  alt="" /></i>
                <i class="iconfont icon-youjiantou1"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" >
                <span>警惕不法分子冒充美丽说人员行骗的公告</span>
                <i class="hot hot3"><img src="http://localhost:4200/assets/img/hot.png"  alt="" /></i>
                <i class="iconfont icon-youjiantou1"></i>
            </a>
        </li>

        <li>
            <a href="javascript:void(0)" >
                <span>退货运费补贴</span>
                <i class="hot hot4"><img src="http://localhost:4200/assets/img/hot.png"  alt="" /></i>
                <i class="iconfont icon-youjiantou1"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" >
                <span>通过微信下单的，如何查看自己的订单</span>
                <i class="hot hot5"><img src="http://localhost:4200/assets/img/hot.png"  alt="" /></i>
                <i class="iconfont icon-youjiantou1"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" >
                <span>明明下单了，怎么没有订单信息呢</span>
                <i class="hot hot6"><img src="http://localhost:4200/assets/img/hot.png"  alt="" /></i>
                <i class="iconfont icon-youjiantou1"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" >
                <span>发货后没有物流信息?</span>
                <i class="hot hot7"><img src="http://localhost:4200/assets/img/hot.png"  alt="" /></i>
                <i class="iconfont icon-youjiantou1"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" >
                <span>我申请退款/退货、维权后，是谁来处理</span>
                <i class="hot hot8"><img src="http://localhost:4200/assets/img/hot.png"  alt="" /></i>
                <i class="iconfont icon-youjiantou1"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" >
                <span>退款操作流程</span>
                <i class="hot hot9"><img src="http://localhost:4200/assets/img/hot.png"  alt="" /></i>
                <i class="iconfont icon-youjiantou1"></i>
            </a>
        </li>
         <li>
            <a href="javascript:void(0)" >
                <span>发货承诺服务</span>
                <i class="hot hot10"><img src="http://localhost:4200/assets/img/hot.png"  alt="" /></i>
                <i class="iconfont icon-youjiantou1"></i>
            </a>
        </li>
    </ul>

    <div class="kefu">
        <a class="kefuBtn" routerLink="/chat" >咨询在线客服</a>
        <p>客服在线时间 09:30:18:30</p>
    </div>
</div>