.youlike{
	display:flex;
	flex-direction:column;
	background: #fff;
	padding-left:0.28rem;
	.like_top{
		height:1.173333rem;
		font-size:0.373333rem;
		line-height:1.173333rem;
	}
	.like_main{
		flex:1;
		.like_list{
			height:100%;
			width:100%;
			display:flex;
			flex-flow:wrap;
			.like_product{
				width:4.56rem;
				height:8.773333rem;
				margin-right:0.293333rem;
				img{
					height:6.933333rem;
					width:4.56rem;
				}
				p{
					height:0.746667rem;
					line-height:0.746667rem;
					font-size:0.32rem;
					overflow:hidden;
					white-space:nowrap;
					text-overflow:ellipsis;
					color:#5F5F5F;
				}
				.price{
					display:flex;
					justify-content:space-between;
					font-size:0.32rem;
					.collect{
						i{
							color:#666;
							display:inline-block;
							height:0.4rem;
							line-height:0.4rem;
							font-size:0.32rem;
						}
					}
				}
			}
		}	
	}	
}