<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_620104_8yu8dsds6d9xjemi.css" />


<div class="mine">
    <div class="title">
        <a class="shezhi fl" routerLink="/mineShezhi">
            <i class="icon-shezhi iconfont"></i>
        </a>
        <div class="chat fr">
            <i class="icon-liaotian iconfont"></i>
        </div>

    </div>
   
        <div class="userInfo clearfix">
            <div class="protrait fl" routerLink="/userSetting">
                <img src="{{userSetting.imgUrl}}" height="148px" width="148px" alt="" />
            </div>
            <div class="userCenter fl">
                <div class="userCenter_l fl">
                    <span class="userId">{{userSetting.username}}</span>
                    <p class="jifen">累积积分：0</p>
                </div>
                <div class="userCenter_r fr">
                    <img src="http://localhost:4200/assets/img/huiyuan.jpg" height="56" width="166" alt="" />
                </div>
                
            </div>
            <div class="qiandao fr">
                <img src="http://localhost:4200/assets/img/qiandao.jpg" height="60" width="146" alt="" />
            </div>

        </div>
        <ul class="orderTab">
            <li>
                <a href="javascript:void(0)">
                    <i class="iconfont icon-daifukuandingdan"></i>
                    待付款
                </a>
               
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="iconfont icon-daishouhuo01"></i>
                    待收货
                </a>
                
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="iconfont icon-daipingjia01"></i>
                    待评价
                </a>
               
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="iconfont icon-huanhuodan "></i>
                    退换货
                </a>
               
            </li>
            <li>
                <a href="javascript:void(0)">
                     <i class="iconfont icon-quanbudingdan-01"></i>
                     全部订单
                </a>
               
            </li>
        </ul>
        <ul class="mainList clearfix">
            <li>
                <a href="javascript:void(0)" class="qianbao">
                    <i class="iconfont icon-qianbao-"></i>
                    钱包    
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="youhuiquan">
                    <i class="iconfont icon-youhuiquan"></i>
                    优惠券
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="huiyuan">
                    <i class="iconfont icon-huiyuanzhongxin"></i>
                    会员中心
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="wuR kefu" routerLink="/helpcenter" >
                    <i class="iconfont icon-kefunv"></i>
                    客服帮助
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="shoucang" routerLink="/shoucang">
                    <i class="iconfont icon-shoucang"></i>
                    收藏
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="zuji">
                    <i class="iconfont icon-zuji"></i>
                    足迹
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="xihuan">
                    <i class="iconfont icon-xihuan"></i>
                    猜你喜欢
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="wuR hot">
                    <i class="iconfont icon-hot"></i>
                    正在热卖
                </a>
            </li>
        </ul>
        <div class="adver">
            <h3 class="mogujie">蘑菇街</h3>
            <p class="adverInfo">时尚买手为你精选流行衣服鞋包</p>
            <input type="button" class="adverDonload" value="下载" />
        </div>
        
   
    <div class="last"></div>
</div>
