<div class="nnav">
    <ul>
        <li>
            <a routerLink="/meilisindex" routerLinkActive="active">
                <i class="icon iconfont icon-shouye1"></i>
                首页
            </a>
        </li>
        <li>
            <a routerLink="/meilisclassify" routerLinkActive="active">
                <i class="icon iconfont icon-fenlei1"></i>
                分类
            </a>
        </li>
        <li>
            <a routerLink="/meilisbuycar" routerLinkActive="active">
                <i class="icon iconfont icon-gouwuche2"></i>
                购物车
            </a>
        </li>
        <li>
            <a routerLink="/meilismine" routerLinkActive="active">
                <i class="icon iconfont icon-wode1"></i>
                我
            </a>
        </li>
    </ul>
</div>
