html,body{height:100%;width:100%;}
#manageaddress{
	height:100%;
	display:flex;
	flex-direction:column;
	background: #EEEEEE;
	.m_header{
		height:1.25rem;
		background:#fff;
		margin-bottom:0.266667rem;
		.haveproduct{
			display:flex;
			height:1.25rem;
			flex-direction:row;
			justify-content:space-between;
			align-content:center;
			.back{
				display:block;
				height:1.25rem;
				width:1.5rem;
				font-size:0.666667rem;
				line-height:1.25rem;
				text-align:center;
				color:#5E5E5E;
			}
			.title{
				font-size:0.4375rem;
				line-height:1.25rem;
				color:#3C3C3C;
			}
			.complete{
				display:block;
				height:1.25rem;
				width:1.5rem;
				font-size:0.373333rem;
				line-height:1.25rem;
				text-align:center;
				color:#888888;
			}
		}
	}
	.m_main{
		flex:1;
		.alladdress{
			height:100%;
			.oneaddress{
				height:2.0rem;
				background: #fff;
				margin-bottom:0.266667rem;
				display:flex;
				flex-direction:column;
				border-top:1px solid #ccc;
				border-bottom:1px solid #ccc;
				p{
					flex:1;
					line-height:1.0rem;
					margin-left:0.4rem;
				}
			}
		}
	}
}