<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_620104_8yu8dsds6d9xjemi.css" />
<div class="shezhi">

    <div class="title" >
        <div class="goback"  (click)="goback()">
            <i class="iconfont icon-arrow-left"></i>
        </div>
        系统设置
    </div>

    <ul class="userInfo">
        <li>
            <a href="javascript:void(0)" routerLink="/userSetting">
                <span>个人信息设置</span>
                <i class="iconfont icon-youjiantou1"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <span>站外绑定设置</span>
                <i class="iconfont icon-youjiantou1"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <span>清除缓存</span>
                <i class="iconfont icon-youjiantou1"></i>
            </a>
        </li>
    </ul>
    <ul class="versionInfo">
        <li>
            <a href="javascript:void(0)">
                <span>关注美丽说微信</span>
                <i class="iconfont icon-youjiantou1"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <span>版本信息</span>
                <i class="iconfont icon-youjiantou1"></i>
            </a>
        </li>
    </ul>
    <div class="exit" (click)="goExit()" >退出登录</div>

</div>