html,body{height:100%;width:100%;}
#account{
	height:100%;
	display:flex;
	flex-direction:column;
	background:#F6F6F6;
	.a_header{
		height:1.25rem;
		background:#fff;
		display:flex;
		align-content:center;
		padding-right:1.5rem;
		border-bottom:1px solid #CDCCCC;
		.back{
			display:block;
			height:1.25rem;
			width:1.5rem;
			font-size:0.666667rem;
			line-height:1.25rem;
			text-align:center;
			color:#5E5E5E;
		}
		.title{
			flex:1;
			font-size:0.4375rem;
			line-height:1.25rem;
			color:#3C3C3C;
			text-align:center;
		}
	}
	.a_address{
		margin-top:0.266667rem;
		height:1.6rem;
		width:100%;
		display:flex;
		justify-content:space-between;
		align-content:center;
		background: #fff;
		.address_left{
			flex:1;
			display:flex;
			height:100%;
			line-height:1.6rem;
			padding-left:0.333333rem;
			span{
				font-size:0.426667rem;
				color:#8FCFF3;
			}
			p{
				padding-left:0.186667rem;
				font-size:0.373333rem;
				color:#CCCCCC;
			}
			.detail_user{
				p{
					height:0.8rem;line-height:0.8rem;
				}
				.user_username{
					font-size:0.4rem;
					color:#000;
				}
			}
		}
		i{
			display:block;
			color:#D3D3D3;
			width:1.0rem;
			font-size:0.426667rem;
			height:100%;
			line-height:1.6rem;

		}
	}
	.a_main{
		flex:1;
		width:100%;
		overflow-x:hidden;
		.accountlist{
			height:100%;
			width:100%;
			padding-top:0.266667rem;
			.accountproduct{
				background: #fff;
				height:7.333333rem;
				display:flex;
				flex-direction:column;
				padding:0 0.266667rem;
				margin-bottom:0.266667rem;
				.product_detail{
					display:flex;
					padding:0.4rem 0 0.266667rem 0;
					border-bottom:1px solid #F2F5F8;
					img{
						height:2.4rem;
						width:1.6rem;
					}
					.product_name{
						flex:1;
						margin-left:0.213333rem;
						.title{
							font-size:0.346667rem;
							line-height:0.48rem;
							color:#000;
							font-weight:bolder;
						}
						.prop{
							padding-top:0.24rem;
							color:#A8A8A8;
							font-size:0.293333rem;
						}
					}
					.product_price{
						padding-left:0.333333rem;
						display:flex;
						flex-direction:column;
						width:1.866667rem;
						.price{
							font-size:0.346667rem;
							color: #000;
							font-weight:bolder;
							padding-bottom:0.133333rem;
							text-align:center;
						}
						.qty{
							text-align:center;
							font-size:0.32rem;
							color:#000;
							font-weight:bolder;
							i{
								font-size:0.373333rem;
								color:#AEAEAE;
							}
						}
						.qty_btn{
							display:flex;
							.sub_btn{
								display:inline-block;
								height:0.613333rem;
								width:0.613333rem;
								background: #F7F7F7;
								font-size:0.666667rem;
								line-height:0.613333rem;
								text-align:center;
								border-radius:0.133333rem;
							}
							.qty{
								width:0.613333rem;
								height:0.613333rem;
								line-height:0.613333rem;
								text-align:center;
							}
							.add_btn{
								display:inline-block;
								height:0.613333rem;
								width:0.613333rem;
								background: #F7F7F7;
								font-size:0.666667rem;
								line-height:0.613333rem;
								text-align:center;
								border-radius:0.133333rem;
							}
						}
					}
				}
				.yunfei{
					height:1.2rem;
					display:flex;
					justify-content:space-between;
					line-height:1.2rem;
					font-weight:bolder;
					font-size:0.373333rem;
					border-bottom:1px solid #F2F5F8;
				}
				.total{
					height:1.2rem;
					display:flex;
					justify-content:space-between;
					line-height:1.2rem;
					font-weight:bolder;
					font-size:0.373333rem;
					border-bottom:1px solid #F2F5F8
				}
				.explain{
					height:1.866667rem;
					padding:0.4rem 0;
					input{
						height:1.066667rem;
						width:100%;
						color:#000;
						background: #F4F4F4;
						font-size:0.346667rem;
						padding-left:0.266667rem;
						border:1px solid #F4F4F4;
					}
				}
			}
		}
	}
	.a_foot{
		height:1.4rem;
		width:100%;
		display:flex;
		.total{
			flex:1;
			height:100%;
			line-height:1.4rem;
			background: #fff;
			text-align:right;
			padding-right:0.453333rem;
			font-size:0.346667rem;
			font-weight:bolder;
			i{
				color:#6C6C6C;
			}
			span{
				color:#FF6699;
			}
		}
		.commit{
			width:2.4rem;
			height:100%;
			line-height:1.4rem;
			background: #FF6699;
			color:#fff;
			font-weight:bolder;
			text-align:center;
		}
	}
}