<div class="iphone">
	<div class="browser">
        <section class="express-area">
            <a id="expressArea" href="javascript:void(0)">
                <dl>
                    <dt>省市区：</dt>
                    <dd>省 - 市 - 区/县</dd>
                </dl>
            </a>
        </section>
        <section id="areaLayer" class="express-area-box">
            <header>
                <h3>选择地区</h3>
                <a id="backUp" class="back icon iconfont icon-htmal5icon37" href="javascript:void(0)" title="返回"></a>
                <a id="closeArea" class="close icon iconfont icon-guanbi1" href="javascript:void(0)" title="关闭"></a>
            </header>
            <article id="areaBox">
                <ul id="areaList" class="area-list"></ul>
            </article>
        </section>
        <div id="areaMask" class="mask"></div>
    </div>
</div>
