.userSetting{
    height: 100%;background-color: #F2F5F8;
    .title{
        height: 1.640625rem;border-top: 0.03125rem solid #F8F8F8;
        position:relative;padding-left: 0.3125rem;
        color:#404040;font-size: 0.609375rem;text-align: center;line-height: 1.46875rem;
        background-color: #fff;
        .goback{
            position:absolute;top: 0;left:0.3125rem;
            
            .icon-arrow-left{
                color:#404040;font-size: 0.609375rem;
            }
        }
    }
    .userInfo{
        padding-left: 0.46875rem;border-top:0.328125rem solid #F2F5F8;
        background-color: #fff;
        li{
            border-bottom:0.015625rem solid #CECCCF;

            a{
                text-decoration:none;display:block;
                position:relative;
                img{width:1.15625rem; height:1.15625rem;}
                span{
                    height: 1.5rem;line-height: 1.5rem;display:block;color:#574E54;font-size: 0.5rem;
                }
                i{
                    position:absolute;top: 0.3125rem;right: 0.46875rem;color:#B9B8B8;font-size: 0.78125rem;
                }

            }
        }
    }
}
#birthTip,#nickName{
   display:inline-block; color:#FF8FB4;font-size: 0.40625rem;
   position:absolute;top: 0;right: 1.25rem;
}

.plaCenter{
    width: 5.9375rem;border:0.03125rem solid #ccc;
    text-align: center;line-height: 1.5625rem;font-size: 0.5625rem;
    background: #ffffcc;z-index: 999;color:#574E54;
    position:absolute;left: 24%;top: 20%;
    padding:0.15625rem;display:none;

    .chepic{

        input{
        
            z-index: 133;
            cursor:pointer;
            font-size: 0.484375rem;
            width: 100%;

        }
        img{
            width: 2.3125rem;height: 2.3125rem;
            margin-left: 1.875rem;
        }
    }
    .btnSure,.btnExit{
        font-size: 0.46875rem;
    }
}
#porTr{
    position:relative;
    img{
         display:inline-block; 
   position:absolute;top: 0.1875rem;right: 1.453125rem;
    }
   
}